<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.edu.agh.io.alarm">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!-- TODO: verify whether this should be exclusive to prevent other apps from accessing messages -->
    <uses-permission android:name="pl.edu.agh.io.alarm.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="pl.edu.agh.io.alarm.ui.activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="pl.edu.agh.io.alarm.ui.activities.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="pl.edu.agh.io.alarm.ui.activities.MainActivity" />
        <activity android:name="pl.edu.agh.io.alarm.ui.activities.SendMessageActivity"
            android:label="@string/title_activity_sendAlarm">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pl.edu.agh.io.alarm.ui.activities.MainActivity" />
        </activity>
        <activity android:name="pl.edu.agh.io.alarm.ui.activities.AddFriendActivity"
            android:label="@string/title_activity_addFriend">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pl.edu.agh.io.alarm.ui.activities.MainActivity" />
        </activity>
        <activity android:name="pl.edu.agh.io.alarm.ui.activities.CreateGroupActivity"
            android:label="@string/title_activity_createGroup">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pl.edu.agh.io.alarm.ui.activities.MainActivity" />
        </activity>
        <activity android:name="pl.edu.agh.io.alarm.ui.activities.EditFriendActivity"
            android:label="@string/title_activity_editFriend">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pl.edu.agh.io.alarm.ui.activities.MainActivity" />
        </activity>
        <activity android:name="pl.edu.agh.io.alarm.ui.activities.EditGroupActivity"
            android:label="@string/title_activity_editGroup">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pl.edu.agh.io.alarm.ui.activities.MainActivity" />
        </activity>

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="pl.edu.agh.io.alarm" />
            </intent-filter>
        </receiver>

        <service
            android:name=".gcm.AlarmGcmListenerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>

        <service android:name=".gcm.id.AlarmInstanceListenerService" android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID"/>
            </intent-filter>
        </service>

        <service
            android:name=".gcm.id.InstanceRegistrationIntent"
            android:exported="false"
            android:enabled="true">
        </service>

        <activity android:name=".notifications.MyClass">
        </activity>

        <service android:name=".notifications.Notifications">

        </service>

        <service android:name=".sqlite.service.DatabaseService">
        </service>
        <service android:name=".middleware.Middleware">
        </service>
        <service android:name=".gcm.GcmSendService" />
    </application>
</manifest>